* {
  box-sizing: border-box;
}

body {
  color: #222;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  padding: 0;
}
body.night-mode {
  background-color: #222;
  color: #d9d9d9;
}
body.night-mode .tumbler {
  transform: translateX(calc(100% - 2px));
}
body.night-mode .post {
  border-bottom: 1px dashed #d9d9d9;
}
body {
  font-size: 18px; /* set a comfortable font size */
  line-height: 1.5; /* increase line spacing for better readability */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* choose a legible font family */
  
  margin: 0; /* remove default margin for the body */
  padding: 0; /* remove default padding for the body */
}
.header {
  text-align: right;
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
}

.header__title {
  display: block;
}

.tumbler-wrapper {
  margin-left: auto;
  width: 50px;
  height: 30px;
  background-color: black;
  border: #1d92b2;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
  display: flex;
  position: relative;
}
.tumbler-wrapper svg {
  width: 15px;
  height: 15px;
}

.tumbler {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.5s, background-color 0.5s;
  will-change: transform;
}

.credits {
  display: none;
}

.sun-svg,
.moon-svg {
  display: none;
}

.main {
  width: 80vw;
  max-width: 800px;
  padding: 0 1rem;
  margin: auto;
}

.post {
  border-bottom: 1px dashed #222;
  margin-bottom: 1.5rem;
  transition: border-bottom 0.5s;
}

.post__title {
  font-weight: 700;
  margin-bottom: 1rem;
}
.post__title:first-child {
  margin-top: 0;
}

.footer {
  width: 80vw;
  max-width: 500px;
  padding: 1rem;
  margin: 0 auto 1.5rem;
}

.description {
  display: flex;
}

.description__text {
  margin-right: 0.25rem;
}

.loveSvg svg {
  display: block;
  height: 1rem;
  max-width: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0; /* add margin to headings to create separation */
  font-weight: bold; /* add bold weight to headings for emphasis */
}

a {
  color: #0077cc; /* use a clear, distinct color for links */
  text-decoration: none; /* remove underline from links */
}

a:hover {
  text-decoration: underline; /* add underline on hover to make links more noticeable */
}

.post__text{
   margin: 10rem 4; 
}

/* for image */

.image-container {
  position: relative;
  width: 500px;
  padding-bottom: 10px;
}

.description {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  width: 500px;

}
